main{
    padding: 3% 0 3% 0;
}

.main-panel{
    width: 60%;
    min-height: 300px;
    background-color: #64b88e;
    color: white;
    padding: 50px;
}

.main-panel p{
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', sans-serif;
}

.main-title{
    font-size: 3rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 900;
}
