* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, serif;
    text-decoration: none;
    background-color: #40916c;
    overflow-x: hidden;
}

#wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    padding: 2% 0;
    background-color: #b7e4c7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: white;
    text-align: center;
}

.nav {
    width: 100%;
    padding: 1% 0;
    background-color: #d8f3dc;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    gap: 5%;
}

.nav li {
    background-color: #53b488;
    transition: all ease-out .2s;
    border-radius: 10px 0px;
    padding: 5px 20px 5px 20px;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.nav li a {
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 120%;
    font-weight: 900;
    transition: all ease-out .2s;
}

.nav li:hover {
    box-shadow: 0px 0px 5px #40916c, 0px 0px 5px #40916c;
}

.first-nav-li{
    display: none;
}

.first-nav-li button{
    background: none;
    border: none;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 120%;
    font-weight: 900;
    transition: all ease-out .2s;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.nav-li-none{
    display: none;
}

main {
    width: 100%;
    background-color: #95d5b2;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    background: #74c69d;
    display: flex;
    justify-content: center;
}

#footer-left-side, #footer-right-side {
    width: 30%;
    display: flex;
    padding-top: 0.5%;
    flex-direction: column;
}

.footer-line {
    border-left: dashed 10px #95d5b2;
}

#footer-left-side p, #footer-right-side p {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
    font-weight: 600;
    color: white;
    margin-top: 2%;
}

#footer-left-side p:first-child, #footer-right-side p:first-child {
    font-size: 1.5rem;
    color: #e4e4e4;
}

#footer-left-side, #footer-right-side, .footer-line {
    padding-bottom: 3%;
}

@media screen and (width < 768px) {
    .nav{
        flex-direction: column;
        gap: 10px;
    }

    .nav li{
        width: 50%;
        text-align: center;
    }

    #footer-left-side, #footer-right-side{
        width: 49%;
    }
}