#mainList{
    list-style: none;
    width: 75%;
    min-height: 40vh;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

#mainList > li{
    width: 90%;
    height: 6.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ask{
    background-color: aliceblue;
    border-radius: 15px 0px;
}

.ask , .answer{
    width: 35%;
    height: 5vh;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: #1b4332;
}

.answer{
    background-color: antiquewhite;
    border-radius: 0px 15px;
}

#MainLine{
    width: 10px;
}