*{
    margin: 0;
    padding: 0;
}

#wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header{
    width: 100%;
    min-height: 20vh;
    height: 20vh;
    background-color: #b7e4c7;
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerTitle{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: white;
    font-family: Arial black;
}









#nav{
    width: 100%;
    min-height: 7.5vh;
    background-color: #d8f3dc;
}

#navol{
    width: 100%;
    min-height: 7.5vh;
    height: 7.5vh;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#navol > li{
    background-color: #53b488;
    width: 10%;
    height: 40%;
    display: grid;
    place-items: center;
    transition: all ease-out .2s;
    border-radius: 10px 0px / 10px 0px;
}

#navol > li > a{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: #fff4df;
    font-size: 120%;
    font-family: arial black;
    transition: all ease-out .2s;
}

#navol > li:hover{
    box-shadow: 0px 0px 5px #40916c,0px 0px 5px #40916c;
}

#navol > li:hover > a{
    color: #f6ce83;
}

#main{
    width: 100%;
    min-height: 50vh;
    background-color: #95d5b2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainPanel{
    width: 60%;
    height: 40vh;
    min-height: 40vh;
    background-color: #64b88e;
    padding: 1%;
    color: white;
}

#mainPanel > p{
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#mainTitle{
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    animation: borderwheat 6s linear infinite alternate;
}

@keyframes borderwheat {
    from{
        color: white;
    }
    to{
        color: rgb(253, 240, 215);
    }
}


#footer{
    width: 100%;
    min-height: 22.5vh;
    height: 22.5vh;
    background: #74c69d;
    display: flex;
    justify-content: center;
}

#footerLeft, #footerRight{
    width: 30%;
    display: flex;
    padding-top: 0.5%;
    flex-direction: column;
}

#footerLine{
    border-left: dashed 10px #95d5b2;
}

#footerLeft > p, #footerRight > p{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    margin-top: 1%;
}

#footerLeft > p:nth-child(1), #footerRight > p:nth-child(1){
    font-size: 1.5rem;
    color: #e4e4e4;
}


